In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: C:\Users\UseR\AppData\Local\Programs\Python\Python312\python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np

In [6]:
# creating series
ser = pd.Series(np.random.rand(32))
ser

0     0.661046
1     0.469079
2     0.770823
3     0.737792
4     0.510497
5     0.400549
6     0.496716
7     0.978695
8     0.811718
9     0.538829
10    0.779984
11    0.827457
12    0.106229
13    0.777806
14    0.348832
15    0.977196
16    0.341384
17    0.370598
18    0.566062
19    0.441246
20    0.020061
21    0.554988
22    0.773964
23    0.737523
24    0.481144
25    0.298747
26    0.141519
27    0.472781
28    0.824496
29    0.930733
30    0.310636
31    0.460929
dtype: float64

In [7]:
# to check the data type of series
type(ser)

pandas.core.series.Series

In [8]:
# to check the index of series
ser.index

RangeIndex(start=0, stop=32, step=1)

In [9]:
# to check the datatype 
ser.dtype

dtype('float64')

In [5]:
import pandas as pd
import numpy as np
serr = pd.Series(np.random.rand(32))

In [6]:
print(serr)

0     0.079549
1     0.837043
2     0.088113
3     0.837282
4     0.890716
5     0.793622
6     0.955322
7     0.749685
8     0.850930
9     0.453109
10    0.598064
11    0.973500
12    0.713263
13    0.714021
14    0.770917
15    0.979064
16    0.237832
17    0.590715
18    0.027825
19    0.070907
20    0.096022
21    0.584915
22    0.240805
23    0.980772
24    0.580205
25    0.582096
26    0.408648
27    0.074940
28    0.513948
29    0.751814
30    0.675461
31    0.918871
dtype: float64

In [9]:
# to check the starting elemenets
serr.head(15)

0     0.079549
1     0.837043
2     0.088113
3     0.837282
4     0.890716
5     0.793622
6     0.955322
7     0.749685
8     0.850930
9     0.453109
10    0.598064
11    0.973500
12    0.713263
13    0.714021
14    0.770917
dtype: float64

In [10]:
# to ckeck the last elements
serr.tail()

27    0.074940
28    0.513948
29    0.751814
30    0.675461
31    0.918871
dtype: float64

In [13]:
# for creating dataframe
df = pd.DataFrame(np.random.rand(500,8),index = np.arange(500))
print(df)

            0         1         2         3         4         5         6  \
0    0.750355  0.455007  0.767472  0.569596  0.518143  0.905225  0.259861
1    0.240090  0.984889  0.149503  0.062348  0.842901  0.557754  0.966959
2    0.830732  0.721551  0.641066  0.378250  0.693965  0.912516  0.342380
3    0.632375  0.402823  0.808156  0.068344  0.764016  0.357397  0.051612
4    0.648559  0.634914  0.771760  0.485894  0.358222  0.518499  0.119197
..        ...       ...       ...       ...       ...       ...       ...
495  0.489888  0.402376  0.145676  0.399329  0.211056  0.750927  0.575238
496  0.204271  0.827196  0.743284  0.535585  0.839337  0.656234  0.088198
497  0.417627  0.417531  0.179006  0.529070  0.827315  0.748833  0.994626
498  0.630208  0.144287  0.349716  0.127045  0.549759  0.322340  0.006165
499  0.666679  0.327181  0.871606  0.462987  0.703121  0.209856  0.009273

            7
0    0.270427
1    0.324817
2    0.441604
3    0.864986
4    0.367923
..        ...
495  0.858250
496  0.388552
497  0.525717
498  0.338589
499  0.402413

[500 rows x 8 columns]

In [14]:
# for knowing datatype
type(df)

pandas.core.frame.DataFrame

In [15]:
#for knowing columns
df.columns

RangeIndex(start=0, stop=8, step=1)

In [17]:
# to convert dataframe,series in array we use to_numpy
df.to_numpy()

array([[0.75035536, 0.45500726, 0.76747204, ..., 0.90522456, 0.25986131,
        0.27042724],
       [0.24008955, 0.98488862, 0.14950324, ..., 0.55775405, 0.96695865,
        0.32481677],
       [0.83073231, 0.72155134, 0.64106553, ..., 0.91251556, 0.34238013,
        0.44160398],
       ...,
       [0.41762686, 0.41753068, 0.17900579, ..., 0.74883337, 0.99462599,
        0.52571732],
       [0.63020767, 0.14428746, 0.3497158 , ..., 0.32233979, 0.0061648 ,
        0.33858897],
       [0.66667897, 0.32718118, 0.871606  , ..., 0.20985611, 0.00927309,
        0.4024134 ]], shape=(500, 8))

In [18]:
# to creating a series file from datafram
df.to_csv('code.csv')

In [19]:
# starting Records
df.head()

,0,1,2,3,4,5,6,7
0,0.750355,0.455007,0.767472,0.569596,0.518143,0.905225,0.259861,0.270427
1,0.240090,0.984889,0.149503,0.062348,0.842901,0.557754,0.966959,0.324817
2,0.830732,0.721551,0.641066,0.378250,0.693965,0.912516,0.342380,0.441604
3,0.632375,0.402823,0.808156,0.068344,0.764016,0.357397,0.051612,0.864986
4,0.648559,0.634914,0.771760,0.485894,0.358222,0.518499,0.119197,0.367923

In [20]:
# ending Records
df.tail()

,0,1,2,3,4,5,6,7
495,0.489888,0.402376,0.145676,0.399329,0.211056,0.750927,0.575238,0.858250
496,0.204271,0.827196,0.743284,0.535585,0.839337,0.656234,0.088198,0.388552
497,0.417627,0.417531,0.179006,0.529070,0.827315,0.748833,0.994626,0.525717
498,0.630208,0.144287,0.349716,0.127045,0.549759,0.322340,0.006165,0.338589
499,0.666679,0.327181,0.871606,0.462987,0.703121,0.209856,0.009273,0.402413

In [22]:
# for reading the csv file
newdf = pd.read_csv('code.csv')
print(newdf)

     Unnamed: 0         0         1         2         3         4         5  \
0             0  0.750355  0.455007  0.767472  0.569596  0.518143  0.905225
1             1  0.240090  0.984889  0.149503  0.062348  0.842901  0.557754
2             2  0.830732  0.721551  0.641066  0.378250  0.693965  0.912516
3             3  0.632375  0.402823  0.808156  0.068344  0.764016  0.357397
4             4  0.648559  0.634914  0.771760  0.485894  0.358222  0.518499
..          ...       ...       ...       ...       ...       ...       ...
495         495  0.489888  0.402376  0.145676  0.399329  0.211056  0.750927
496         496  0.204271  0.827196  0.743284  0.535585  0.839337  0.656234
497         497  0.417627  0.417531  0.179006  0.529070  0.827315  0.748833
498         498  0.630208  0.144287  0.349716  0.127045  0.549759  0.322340
499         499  0.666679  0.327181  0.871606  0.462987  0.703121  0.209856

            6         7
0    0.259861  0.270427
1    0.966959  0.324817
2    0.342380  0.441604
3    0.051612  0.864986
4    0.119197  0.367923
..        ...       ...
495  0.575238  0.858250
496  0.088198  0.388552
497  0.994626  0.525717
498  0.006165  0.338589
499  0.009273  0.402413

[500 rows x 9 columns]

In [24]:
# for removing the index
df.to_csv('index_false.csv',index = False)

In [26]:
newdf2 = pd.read_csv('index_false.csv')
newdf2

,0,1,2,3,4,5,6,7
0,0.750355,0.455007,0.767472,0.569596,0.518143,0.905225,0.259861,0.270427
1,0.240090,0.984889,0.149503,0.062348,0.842901,0.557754,0.966959,0.324817
2,0.830732,0.721551,0.641066,0.378250,0.693965,0.912516,0.342380,0.441604
3,0.632375,0.402823,0.808156,0.068344,0.764016,0.357397,0.051612,0.864986
4,0.648559,0.634914,0.771760,0.485894,0.358222,0.518499,0.119197,0.367923
...,...,...,...,...,...,...,...,...
495,0.489888,0.402376,0.145676,0.399329,0.211056,0.750927,0.575238,0.858250
496,0.204271,0.827196,0.743284,0.535585,0.839337,0.656234,0.088198,0.388552
497,0.417627,0.417531,0.179006,0.529070,0.827315,0.748833,0.994626,0.525717
498,0.630208,0.144287,0.349716,0.127045,0.549759,0.322340,0.006165,0.338589
499,0.666679,0.327181,0.871606,0.462987,0.703121,0.209856,0.009273,0.402413

In [27]:
df.head()

,0,1,2,3,4,5,6,7
0,0.750355,0.455007,0.767472,0.569596,0.518143,0.905225,0.259861,0.270427
1,0.240090,0.984889,0.149503,0.062348,0.842901,0.557754,0.966959,0.324817
2,0.830732,0.721551,0.641066,0.378250,0.693965,0.912516,0.342380,0.441604
3,0.632375,0.402823,0.808156,0.068344,0.764016,0.357397,0.051612,0.864986
4,0.648559,0.634914,0.771760,0.485894,0.358222,0.518499,0.119197,0.367923

In [28]:
# for stastical computing
df.describe()

,0,1,2,3,4,5,6,7
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,0.483459,0.493383,0.493050,0.516791,0.505666,0.514412,0.518984,0.501878
std,0.287349,0.279868,0.288496,0.284983,0.287345,0.278744,0.293537,0.294390
min,0.000373,0.000591,0.000034,0.000363,0.005721,0.003990,0.002575,0.004190
25%,0.238398,0.261774,0.246405,0.263583,0.251163,0.290797,0.278640,0.246621
50%,0.469188,0.484390,0.482012,0.542048,0.519991,0.504181,0.520306,0.500515
75%,0.731901,0.732859,0.730854,0.752786,0.749465,0.751195,0.784436,0.751387
max,0.997886,0.998958,0.999869,0.999553,0.999071,0.999193,0.999871,0.996956

In [30]:
# for knowing the value at the specific place
df.loc[0,2]

np.float64(0.7674720394523338)

In [32]:
# for changing the column name
df.columns = list('abcdefgh')
df

,a,b,c,d,e,f,g,h
0,0.750355,0.455007,0.767472,0.569596,0.518143,0.905225,0.259861,0.270427
1,0.240090,0.984889,0.149503,0.062348,0.842901,0.557754,0.966959,0.324817
2,0.830732,0.721551,0.641066,0.378250,0.693965,0.912516,0.342380,0.441604
3,0.632375,0.402823,0.808156,0.068344,0.764016,0.357397,0.051612,0.864986
4,0.648559,0.634914,0.771760,0.485894,0.358222,0.518499,0.119197,0.367923
...,...,...,...,...,...,...,...,...
495,0.489888,0.402376,0.145676,0.399329,0.211056,0.750927,0.575238,0.858250
496,0.204271,0.827196,0.743284,0.535585,0.839337,0.656234,0.088198,0.388552
497,0.417627,0.417531,0.179006,0.529070,0.827315,0.748833,0.994626,0.525717
498,0.630208,0.144287,0.349716,0.127045,0.549759,0.322340,0.006165,0.338589
499,0.666679,0.327181,0.871606,0.462987,0.703121,0.209856,0.009273,0.402413

In [37]:
# loc works on the name of the row and column
df.loc[495,'g']

np.float64(0.5752375372049844)

In [39]:
# for deleting the column
df.drop('a',axis=1)

            b         c         d         e         f         g         h
0    0.455007  0.767472  0.569596  0.518143  0.905225  0.259861  0.270427
1    0.984889  0.149503  0.062348  0.842901  0.557754  0.966959  0.324817
2    0.721551  0.641066  0.378250  0.693965  0.912516  0.342380  0.441604
3    0.402823  0.808156  0.068344  0.764016  0.357397  0.051612  0.864986
4    0.634914  0.771760  0.485894  0.358222  0.518499  0.119197  0.367923
..        ...       ...       ...       ...       ...       ...       ...
495  0.402376  0.145676  0.399329  0.211056  0.750927  0.575238  0.858250
496  0.827196  0.743284  0.535585  0.839337  0.656234  0.088198  0.388552
497  0.417531  0.179006  0.529070  0.827315  0.748833  0.994626  0.525717
498  0.144287  0.349716  0.127045  0.549759  0.322340  0.006165  0.338589
499  0.327181  0.871606  0.462987  0.703121  0.209856  0.009273  0.402413

[500 rows x 7 columns]

In [47]:
# for deleting the row
df = df.drop(0,axis=0)

KeyError: '[0] not found in axis'

In [46]:
df

,a,b,c,d,e,f,g,h
1,0.240090,0.984889,0.149503,0.062348,0.842901,0.557754,0.966959,0.324817
2,0.830732,0.721551,0.641066,0.378250,0.693965,0.912516,0.342380,0.441604
3,0.632375,0.402823,0.808156,0.068344,0.764016,0.357397,0.051612,0.864986
4,0.648559,0.634914,0.771760,0.485894,0.358222,0.518499,0.119197,0.367923
5,0.867402,0.399130,0.662116,0.311526,0.589372,0.574321,0.976050,0.984421
...,...,...,...,...,...,...,...,...
495,0.489888,0.402376,0.145676,0.399329,0.211056,0.750927,0.575238,0.858250
496,0.204271,0.827196,0.743284,0.535585,0.839337,0.656234,0.088198,0.388552
497,0.417627,0.417531,0.179006,0.529070,0.827315,0.748833,0.994626,0.525717
498,0.630208,0.144287,0.349716,0.127045,0.549759,0.322340,0.006165,0.338589
499,0.666679,0.327181,0.871606,0.462987,0.703121,0.209856,0.009273,0.402413

In [50]:
# iloc (works on the index)
df.iloc[1,4]

np.float64(0.6939649421136862)

In [52]:
df['c'][1]='Hello'
df

,a,b,c,d,e,f,g,h
1,0.240090,0.984889,Hello,0.062348,0.842901,0.557754,0.966959,0.324817
2,0.830732,0.721551,0.641066,0.378250,0.693965,0.912516,0.342380,0.441604
3,0.632375,0.402823,0.808156,0.068344,0.764016,0.357397,0.051612,0.864986
4,0.648559,0.634914,0.77176,0.485894,0.358222,0.518499,0.119197,0.367923
5,0.867402,0.399130,0.662116,0.311526,0.589372,0.574321,0.976050,0.984421
...,...,...,...,...,...,...,...,...
495,0.489888,0.402376,0.145676,0.399329,0.211056,0.750927,0.575238,0.858250
496,0.204271,0.827196,0.743284,0.535585,0.839337,0.656234,0.088198,0.388552
497,0.417627,0.417531,0.179006,0.529070,0.827315,0.748833,0.994626,0.525717
498,0.630208,0.144287,0.349716,0.127045,0.549759,0.322340,0.006165,0.338589
499,0.666679,0.327181,0.871606,0.462987,0.703121,0.209856,0.009273,0.402413

In [53]:
# for deleting
df.drop(['c','d'],axis = 1, inplace = True)

In [54]:
df

            a         b         e         f         g         h
1    0.240090  0.984889  0.842901  0.557754  0.966959  0.324817
2    0.830732  0.721551  0.693965  0.912516  0.342380  0.441604
3    0.632375  0.402823  0.764016  0.357397  0.051612  0.864986
4    0.648559  0.634914  0.358222  0.518499  0.119197  0.367923
5    0.867402  0.399130  0.589372  0.574321  0.976050  0.984421
..        ...       ...       ...       ...       ...       ...
495  0.489888  0.402376  0.211056  0.750927  0.575238  0.858250
496  0.204271  0.827196  0.839337  0.656234  0.088198  0.388552
497  0.417627  0.417531  0.827315  0.748833  0.994626  0.525717
498  0.630208  0.144287  0.549759  0.322340  0.006165  0.338589
499  0.666679  0.327181  0.703121  0.209856  0.009273  0.402413

[499 rows x 6 columns]

In [55]:
df['b'].isnull()

1      False
2      False
3      False
4      False
5      False
       ...
495    False
496    False
497    False
498    False
499    False
Name: b, Length: 499, dtype: bool

In [56]:
df.dropna()

            a         b         e         f         g         h
1    0.240090  0.984889  0.842901  0.557754  0.966959  0.324817
2    0.830732  0.721551  0.693965  0.912516  0.342380  0.441604
3    0.632375  0.402823  0.764016  0.357397  0.051612  0.864986
4    0.648559  0.634914  0.358222  0.518499  0.119197  0.367923
5    0.867402  0.399130  0.589372  0.574321  0.976050  0.984421
..        ...       ...       ...       ...       ...       ...
495  0.489888  0.402376  0.211056  0.750927  0.575238  0.858250
496  0.204271  0.827196  0.839337  0.656234  0.088198  0.388552
497  0.417627  0.417531  0.827315  0.748833  0.994626  0.525717
498  0.630208  0.144287  0.549759  0.322340  0.006165  0.338589
499  0.666679  0.327181  0.703121  0.209856  0.009273  0.402413

[499 rows x 6 columns]

In [67]:
data={
    "name":["john","trudy","bob"],
    "marks":[42,45,48],
    "sports":["cricket","volleyball","hockey"]
}
students = pd.DataFrame(data)
students

    name  marks      sports
0   john     42     cricket
1  trudy     45  volleyball
2    bob     48      hockey

In [68]:
students.to_csv('students.csv')

In [69]:
students.to_csv('students_index_false.csv', index = False)